/* ----------------------------START---------------------------- */
/* ----------           Multi-Page / Shared           ---------- */

:root {
    /* Coolors Exported Palette - coolors.co/584b53-9d5c63-d6e3f8-fef5ef-e4bb97 */
    /* HSL */
    --brown: hsla(323, 8%, 32%, 1);
    --red: hsla(354, 26%, 49%, 1);
    --blue: hsla(217, 71%, 91%, 1);
    --lightTan: hsla(24, 88%, 97%, 1);
    --darkTan: hsla(28, 59%, 74%, 1);

    /* RGB */
    --brown: rgba(88, 75, 83, 1);
    --red: rgba(157, 92, 99, 1);
    --blue: rgba(214, 227, 248, 1);
    --lightTan: rgba(254, 245, 239, 1);
    --darkTan: rgba(228, 187, 151, 1);
}

.navbar {
    background-color: var(--red)!important;
}

body {
    background-color: var(--lightTan);
}

h1 { 
    margin: auto;
    text-align: center; 
}

/* Footer */
#socials {
    font-size: 2rem;
}

footer{
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

footer p {
    margin-bottom: 0;
}

footer h5 {
    margin-bottom: 0;
}

.card {
    margin-bottom: 15px;
}
/* ----------           Multi-Page / Shared           ---------- */
/* -----------------------------END----------------------------- */


/* ----------------------------START---------------------------- */
/* ----------      Age Verification (index.html)      ---------- */
.ageTitleText {
    margin-bottom: 20px;
}

.ageTitle {
    margin-top: 25px;
    margin-bottom: 30px;
}

.ageVerif-mid-div {
    text-align: center;
}

.ageChallenge {
    align-content: center;
}
/* ----------      Age Verification (index.html)      ---------- */
/* -----------------------------END----------------------------- */

/* ----------------------------START---------------------------- */
/* ----------          Home Page (home.html)          ---------- */
.homeCard1 {
    justify-content: flex-start;
    margin-bottom: 25px;
}

.homeCard2 {
    justify-content: flex-end;
    margin-bottom: 25px;
}

.homeImg1 img {
    
    width: 300px;
    height: auto;
}

.homeImg2 img {
    width: auto;
    height: 300px;
}

.jumbotron img {
    width: 1100px;
    height: auto;
}
/* ----------          Home Page (home.html)          ---------- */
/* -----------------------------END----------------------------- */


/* ----------------------------START---------------------------- */
/* ----------       Book A Tour (bookATour.html)      ---------- */
.tour-info {
    margin: 15px;
}

#tour-form {
    display: none;
}
/* ----------       Book A Tour (bookATour.html)      ---------- */
/* -----------------------------END----------------------------- */


/* ----------------------------START---------------------------- */
/* ----------      Marketplace (marketplace.html)     ---------- */
.pre-cart {
    margin-left: auto;
    margin-right: auto;
}

#cartContainer {
    display: none;
    background-color: lightslategrey;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.cartItemCard .card-body {
    padding: 0.5rem;
}

.cartItemCard .card-header {
    padding: 0.5rem 0.75rem;
}

.cartItemCard p {
    font-size: 0.80rem;
}

#cartItemCardsContainer > .col-12 {
    padding: 0;
}

.commerce {
    margin-top: 8px;
}

.commerce .btn {
    font-size: 0.75rem;
}

.padding-left-0 {
    padding-left: 0;
}
/* ----------      Marketplace (marketplace.html)     ---------- */
/* -----------------------------END----------------------------- */


/* ----------------------------START---------------------------- */
/* ----------     Beers we Brew (beersWeBrew.html)    ---------- */

.stats {
    text-align: center;
}

.beerImgContainer {
    text-align: center;
    padding-top: 15px;
}

.beerImage {
    height: 200px;
    width: auto;
}
/* ----------     Beers we Brew (beersWeBrew.html)    ---------- */
/* -----------------------------END----------------------------- */