body {
    background-color: burlywood;
}

.ageTitle {
    margin-top: 25px;
    margin-bottom: 100px;
}

.ageVerif-mid-div {
    text-align: center;
}

.ageChallenge {
    align-content: center;
}

.homeCard1 {
    justify-content: flex-start;
    margin-bottom: 25px;
}

.homeCard2 {
    justify-content: flex-end;
}


