/* ----------------------------START---------------------------- */
/* ----------           Multi-Page / Shared           ---------- */
:root {
    /* Coolors Exported Palette - coolors.co/584b53-9d5c63-d6e3f8-fef5ef-e4bb97 */
    /* RGB */
    --brown: rgba(88, 75, 83, 1);
    --red: rgba(157, 92, 99, 1);
    --blue: rgba(214, 227, 248, 1);
    --lightTan: rgba(254, 245, 239, 1);
    --darkTan: rgba(228, 187, 151, 1);
}

body {
    background-color: burlywood;
}

h1 { 
    margin: auto;
    border: 1px solid black;
    text-align: center; 
    
}

/* Footer */
#socials {
    font-size: 2rem;
}

footer{
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

footer p {
    margin-bottom: 0;
}

footer h5 {
    margin-bottom: 0;
}

.card {
    margin-bottom: 15px;
}
/* ----------           Multi-Page / Shared           ---------- */
/* -----------------------------END----------------------------- */


/* ----------------------------START---------------------------- */
/* ----------      Age Verification (index.html)      ---------- */
.ageContainer,
.ageRow {
    height: 100vh;
}

.ageTitleText {
    margin-bottom: 20px;
}

.ageTitleText {
    border: none;
}

.ageTitle {
    margin-top: 25px;
    margin-bottom: 30px;
}

.right-column,
.left-column {
    background-color: var(--red);
}

.ageVerif-mid-div {
    text-align: center;
    background-color: var(--blue);
}

.agePhoto {
    border: 2px solid rgb(105, 105, 105);
}

.ageChallenge {
    align-content: center;
}
/* ----------      Age Verification (index.html)      ---------- */
/* -----------------------------END----------------------------- */

/* ----------------------------START---------------------------- */
/* ----------          Home Page (home.html)          ---------- */
.homeCard1 {
    justify-content: flex-start;
    margin-bottom: 25px;
}

.homeCard2 {
    justify-content: flex-end;
    margin-bottom: 25px;
}

.homeImg1 img {
    
    width: 300px;
    height: auto;
}

.homeImg2 img {
    width: auto;
    height: 300px;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.281);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.jumbotron img {
    max-height: 400px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/* ----------          Home Page (home.html)          ---------- */
/* -----------------------------END----------------------------- */


/* ----------------------------START---------------------------- */
/* ----------       Book A Tour (bookATour.html)      ---------- */
.tour-info {
    margin: 15px;
}

#tour-form {
    display: none;
}
/* ----------       Book A Tour (bookATour.html)      ---------- */
/* -----------------------------END----------------------------- */


/* ----------------------------START---------------------------- */
/* ----------      Marketplace (marketplace.html)     ---------- */
.pre-cart {
    margin-left: auto;
    margin-right: auto;
}

#cartContainer {
    display: none;
    background-color: lightslategrey;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.cartItemCard .card-body {
    padding: 0.5rem;
}

.cartItemCard .card-header {
    padding: 0.5rem 0.75rem;
}

.cartItemCard p {
    font-size: 0.80rem;
}

#cartItemCardsContainer > .col-12 {
    padding: 0;
}

.commerce {
    margin-top: 8px;
}

.commerce .btn {
    font-size: 0.75rem;
}
/* ----------      Marketplace (marketplace.html)     ---------- */
/* -----------------------------END----------------------------- */


/* ----------------------------START---------------------------- */
/* ----------     Beers we Brew (beersWeBrew.html)    ---------- */

.stats {
    text-align: center;
}

.beerImgContainer {
    text-align: center;
    padding-top: 15px;
}

.beerImage {
    height: 200px;
    width: auto;
}
/* ----------     Beers we Brew (beersWeBrew.html)    ---------- */
/* -----------------------------END----------------------------- */